.Btn-Counter-Btn {
  width: 23vw;
  height: .75in;
}

.Button-Counter-Count {
  font-size: 15vw;
  margin: 0px;
  padding: 0px;
};

.Button-Counter-Container {
  font-size: 50px;
  font-family: inherit;
}