.Header {
    background-color: #1b1b1b;
    font-size: calc(15px + 2vmin);
    color: white;
}

.Header-logout-btn {
    background-color: rgb(255, 255, 255) !important;
    color:black !important;
    border-color: black !important;
}
